*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e5ff00;
}
a{
    color: #bbff00;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all .5s;
}
a:hover{
    color: #ddf0a8;
}
ul{
    list-style: none;
}


/* Menu */

header nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    background-color: #30007c;
}
header nav li{
    padding: 1.5rem;
}
header nav {
    position: sticky;
}

/* End Menu */

/* Presentation */

#presentation
{
    position: relative;
}
#presentation img{
    width: 100%;
    height: auto;
}
#presentation .titles, #presentation img{
    position: absolute;
}
#presentation .titles{
    font-size: 4.5rem;
    width: 100%;
    background: #30007c85;
    top: 30vh;
}

/* End presentation */