*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e5ff00;
}
a{
    color: #bbff00;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all .5s;
}
a:hover{
    color: #ddf0a8;
}
ul{
    list-style: none;
}


/* Menu */

header nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    background-color: #30007c;
}
header nav li{
    padding: 1.5rem;
}
header nav {
    position: sticky;
}

/* End Menu */

/* Presentation */

#presentation
{
    position: relative;
}
#presentation img{
    width: 100%;
    height: auto;
}
#presentation .titles{
    position: absolute;
}
#presentation .titles{
    font-size: 4.5rem;
    width: 100%;
    background: #30007c85;
    top: 30vh;
}

/* End presentation */

/* Love Cats */

#cats .areas-2{
    display: flex;
}
#cats .areas-2 .area{
    flex-basis: 50%;
}
#cats .areas-2 .area img{
    width: 100%;
    height: auto;
}
#cats .areas-2 .area:first-child{
    background: #30007c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cats .areas-2 .area h3, #cats .areas-2 .area p{
    width: 80%;
    margin: auto;
    text-align: center;
}

#cats .areas-2 .area h3{
    font-size: 2.2rem;
}
#cats .areas-2 .area p{
    font-size: 1.25rem;
    vertical-align: middle;
}

/* End love cats */