*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin: 5rem auto;    
}
header h1{
    text-align: center;
    font-size: 2.5rem;
}

.container{
    width: 60%;
    margin: auto;
}


/* INDEX/PORTIFOLIO */

.flex{
    display: flex;
    flex-direction: column;
}
.flex .row{
    display: flex;
    flex-direction: row;
}
.flex .row img{
    width: 33%;
    margin: .5%;
    height: auto;
}